on:
  push:
    branches:
      - main
name: release-please
permissions:
  contents: write
  pull-requests: write
jobs:
  release-please:
    runs-on: [webring-runner-set]
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: node
      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}
      - uses: oven-sh/setup-bun@v2
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"
        if: ${{ steps.release.outputs.release_created }}
      - run: bun install
        if: ${{ steps.release.outputs.release_created }}
      - run: bun run lint
        if: ${{ steps.release.outputs.release_created }}
      - run: bun run build
        if: ${{ steps.release.outputs.release_created }}
      - run: bun test
        if: ${{ steps.release.outputs.release_created }}
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        if: ${{ steps.release.outputs.release_created }}
